* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    max-width: 100px;
    float: left;
}

.uptext {
    text-transform: uppercase;
}

.righttext {
    text-align: right;
}

h2 {
    color: #7d97ad;
}

h3 {
    color: #2d3c49;
}

figcaption {
    text-align: center;
}
